{% extends 'blog/base.html' %}

{% block content %}
  <script type="text/javascript">
    var likes = 0;
    var dislikes = 0;

    function modify_likes(){
      likes += 1;
      document.getElementById("likes").innerHTML = likes;
    }

    function modify_dislikes(){
      dislikes += 1;
      document.getElementById("dislikes").innerHTML = dislikes;
    }
    </script>

    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <button type="button" class ="btn btn-primary" id="yes" onclick="modify_likes()">
          <span class="glyphicon glyphicon-thumbs-up"></span> It's ok
        </button> <p><span id="likes">0</span> says this is ok.</p>
        <button type="button" class ="btn btn-danger" id="no" onclick="modify_dislikes()">
          <span class="glyphicon glyphicon-thumbs-down"></span> That's horrible.
        </button> <p><span id="dislikes">0</span> says this is horrible.</p>

    </div>
{% endblock %}
